<div class="title">窗口信息编辑系统</div>
<form nz-form (ngSubmit)="saveConfirm()" style="margin: auto" *ngIf="type == 'admin'">
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>ID</nz-form-label>
    <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="ID不能为空!">
      <input nz-input [ngModel]="window.wID" name="wID" required disabled/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5">名称</nz-form-label>
    <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="名称不能为空!">
      <input nz-input [(ngModel)]="window.wName" name="wName" required />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5">餐品数量</nz-form-label>
    <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="餐品数量不能为空!">
      <input nz-input [(ngModel)]="window.mealAmount" name="mealAmount" required />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5">窗口状态</nz-form-label>
    <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="窗口状态不能为空!">
      <nz-radio-group [(ngModel)]="radioValue" name="wStatus" >
        <label nz-radio nzValue='1'>正在接单</label>
        <label nz-radio nzValue='0'>已打烊</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5">密码</nz-form-label>
    <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="密码不能为空!">
      <input nz-input [(ngModel)]="window.wPassword" name="wPassword" required />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary">保存</button>&nbsp;&nbsp;
      <button nz-button (click)="goBack()">返回</button>
    </nz-form-control>
  </nz-form-item>
</form>

<nz-result *ngIf="type != 'admin'" nzStatus="403" nzTitle="403" nzSubTitle="您无权访问当前页面!">
  <div nz-result-extra>
    <button nz-button nzType="primary" routerLink="">返回首页</button>
  </div>
</nz-result>
