<div class="title">窗口登录系统</div>
<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入账号!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="wID" placeholder="ID" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入密码!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="wPassword" placeholder="密码" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <div nz-row class="login-form-margin">
    <div nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">
        <span>记住我</span>
      </label>
    </div>
    <div nz-col [nzSpan]="12">
      <a class="login-form-forgot" (click)="forgetPassword()">忘记密码</a>
    </div>
  </div>
  <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">登录</button>
</form>
